.post_form {
  display: block;
  font-family: $font-primary;
  margin-top: 20px;
}
.post_input {
  font-family: $font-primary;
  border: 1px solid $color-black;
  font-size: 16px;
  width: 90%;
  padding: 10px;
}
.post_textarea {
  font-family: $font-primary;
  font-size: 16px;
  padding: 10px;
  border: 1px solid $color-black;
  width: 90%;
  height: 200px;
  margin-top: 10px;
}
.post_select {
  width: 90%;
  padding: 5px;
  font-family: $font-primary;
  font-size: 16px;
  border: 1px solid $color-black;
  margin: 5px 0 10px;
}
.post_btn {
  border: none;
  width: 90%;
  background-color: $color-primary;
  color: $color-white;
  padding: 10px;
  font-family: $font-primary;
  font-size: 16px;
}
.post_btn:hover {
  background-color: $color-secondary;
}
.published_list {
  margin-top: 50px;
  width: 90%;
}
.post_list {
  list-style: none;
}

.post_list li {
  background-color: $color-white;
  padding: 10px;
  margin-top: 10px;
}
.post_list a {
  color: $color-black;
}

.post_list li:hover {
  border: 1px solid $color-secondary;
}
@media (min-width: 768px) {
  .published_list {
    margin-top: 20px;
  }
}
