.edit_form {
  display: flex;
  margin: 50px 0 0 0;
}
.update_message {
  display: block;
}
.edit_input {
  width: 90%;
  padding: 10px;
}
.edit_textarea {
  height: 200px;
  width: 90%;
}
.update_btn {
  width: 90%;
  padding: 10px;
  font-family: $font-primary;
  font-size: 14px;
  text-align: center;
  color: $color-white;
  background-color: $color-primary;
  border: none;
}
.update_btn:hover {
  background-color: $color-secondary;
}
