.section_container {
  margin-top: 50px;
  height: 100%;
}
.section_container1 {
  margin-top: 50px;
  height: 100%;
  background-color: $color-background;
  padding: 20px;
}

.section_col {
  text-align: end;
  align-self: center;
}
.h2_margin {
  margin-top: 20px;
}
.section_img {
  width: 400px;
}
.purple_btn {
  border: none;
  background-color: $color-primary;
  color: $color-white;
  padding: 15px;
  width: 250px;
  font-size: 18px;
  font-weight: 400;
}
.purple_btn:hover {
  background-color: $color-secondary;
}
.about_btn {
  border: none;
  background-color: $color-primary;
  color: $color-white;
  padding: 15px;
  width: 250px;
  font-size: 18px;
  font-weight: 400;
  margin: 20px auto 50px;
  text-align: center;
}
.about_btn:hover {
  background-color: $color-secondary;
}
